.property {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
  }
  
  .property-right {
    margin-bottom: 20px;
  }
  
  .property-left {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust gap as needed */
  }
  
  .property-item {
    position: relative;
    flex-basis: 22%;
  }
  
  .image {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
  }
  
  .caption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .property-item:hover .caption {
    opacity: 1;
  }
  